{% extends 'base.html.twig' %}

{% block title %}Rental index{% endblock %}

{% block body %}
    <h1>Rental index</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Début de location</th>
                <th>Fin de location</th>
                <th>actions</th>
            </tr>
        </thead>
       <tbody>
        {% set empty = 0 %}
        {% if rentals %}
            {% for rental in rentals %}
                {% if app.user == rental.users %}
                    {% set empty = 1 %}
                    <tr>
                        <td>{{ app.user.firstname }}</td>
                        <td>{{ app.user.lastname }}</td>
                        <td>{{ rental.startDate ? rental.startDate|date('d-m-Y H:i:s') : '' }}</td>
                        <td>{{ rental.endTime ? rental.endTime|date('d-m-Y H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('rental_show', {'id': rental.id}) }}">Voir</a>
                            <a href="{{ path('rental_edit', {'id': rental.id}) }}">Modifier/Supprimer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if (not rentals) or (empty == 0) %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
