{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Registration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.availability ? 'Oui' : 'Non' }}</td>
                <td>{{ car.registration }}</td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun véhicule de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
