{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1 class="m-5 text-center">Tous nos véhicules disponibles</h1>


	<div class="container mx-auto mx-5">
        <div class="row">
            {% for car in cars %}
            <div class="col-md-4 h-100" >
                <div class="card-header mx-auto" >
                    <img src="{{asset('assets/img/' ~ car.image )}}" class="card-img-top" alt="..." style="max-height:18rem;">
                </div>
                <div class="card-body ">
                    <h5 class="card-title">{{ car.types}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ car.price}}€ à la journée</h6>
                    {#<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                    {#<a href={{"car/show"}} class="btn btn-outline-success  mr-2">
                        <i class="fas fa-link"></i>
                        Voir</a>#}

                    <a href="{{ path('car_show', {'id': car.id}) }}" class="btn btn-outline-success ms-5 b">Voir</a>
                    {#<a href="{{ path('rental_new', {'id': car.id}) }}" class="btn btn-outline-success">
                        <i class="fab fa-github"></i> 
                        Réserver</a>#}
                    
                        <a href="{% if app.user %}{{ path('rental_new', {'id': car.id}) }} {% else %} {{ path('app_login') }} {% endif %}" class="btn btn-outline-success ms-5">
                                Louez moi</a>
                    
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
