{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <h1 class="m-5">Voici plus de détails pour la {{ car.makes }} {{ car.seats }} sièges que vous souhaitiez voir</h1>

	<div class="container">
		<div class="row">
			<div class="col">
				<img src="{{asset('assets/img/' ~ car.image )}}" class="img-thumbnail" alt="..." style="height:20rem; width:auto">
			</div>
			<div class="col">
				<table class="table">
            <tr>
                <th>Marque</th>
                <td>{{ car.makes }}</td>
            </tr>
        </tbody>
            <tr>
                <th>Prix à la journée :</th>
                <td>{{ car.price }} euros</td>
            </tr>
            <tr>
                <th>Nombre de sièges</th>
                <td>{{ car.seats }}</td>
            </tr>  
            <tr>
                <th>Type de véhicule</th>
                <td>{{ car.types }}</td>
            </tr> 

            <tr>
                <th>
                <a href="{{ path('rental_new', {'id': car.id}) }}" class="btn btn-outline-success">Réserver</a>
                {#<a href="{{ path('rental_new') }}" class="btn btn-outline-success">Réserver</a>#}
                </th>
                <th>
                <a href="{{ path('car_index') }}" class="btn btn-outline-success text-right">Retour à la liste</a>
                </th>
            </tr>
				</table>
			</div>
		</div>
	</div>



{% endblock %}
